MYSQL_ROOT_PASSWORD=cambia-esta-contrasena-de-mysql
MYSQL_DATABASE=sistema_tutorias
MYSQL_USER=tutorias_app
MYSQL_PASSWORD=cambia-esta-contrasena-del-usuario-app

APP_PORT=8080
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=cambia-esta-contrasena-del-admin
APP_ADMIN_EMAIL=admin@itch.edu.mx
APP_ADMIN_FULL_NAME=Administrador del Sistema
APP_ADMIN_RESET_PASSWORD=false

SPRING_JPA_HIBERNATE_DDL_AUTO=update
JAVA_OPTS=-Xms256m -Xmx512m
